/* Head Container*/
.head-container {
  background-color: #222831;
}
header.master-head{
    height: 100vh;
}

header .shadow-background-img{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: grayscale(60%);
    width: 100%;
    height: 100vh;
    position: absolute;
}
header .shadow{
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 100vh;
    position: absolute;
}

header.master-head .container{
    text-align: center;
    height: 100vh;
    padding: 200px 0 250px;
    position: relative;
}

header.master-head img{
    margin: -300px 0 -250px 20px;
    text-align: center;
    transform:scaleX(-1);
    position: relative;
    width: 70%;
    z-index: 1;
}
header.master-head .boat-img{
  animation-name: boat-moving;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
.turn-white{
    filter: brightness(0) invert(1);
}

header.master-head .head-comment{
  color:#CFD2CF;

  margin: 0px 0px 0px -20px;
  text-align: center;
}
header.master-head .head-comment .greet{
    font-family: 'Silkscreen', cursive;
}
header.master-head .head-comment .greet-words{
    font-family: 'Silkscreen', cursive;
}
header.master-head .head-img {
   text-align: center;
   position: relative;
   overflow: hidden;
   background-color:blue;
   width: 400px;
   height: 340px;
}

header.master-head .head-img img{
    position: absolute;
    border: solid 2px #CCC;
    margin: 10px 0 0 -70px;
    max-width: 100%;
}

header.master-head .head-comment h1{
  font-size: 80px;
}

header.master-head .head-comment span{
  font-size: 30px;
}

/* Body */
body{
    font-size: 20px
    background-color: dark
}

/* Body Container*/
.body-container {
   text-align: center;
   padding: 7% 10%;
}

/* Foot Container */
.foot-container {
   background-color: #D65A31;
   text-align: center;
   padding: 3% 15% 1%;
}

/* Social Icon */
.social-icon{
  margin: 20px 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

.black-section{
    background-color: black
}

.white-section{
    background-color: #2C394B
}

hr{
  border-top: 6px white;
  background-color:black;
  color:white;
  margin: 0;
  height: 3px;
}

.introduce-section img,
.story-section img,
.skill-section iframe,
.personal-section img{
    width: 400px;
   height: 340px;
}

.introduce-section .container-fluid{
    padding: 7% 13%;
}

.introduce-section .feature-content{
  padding:5%;
}
.introduce-section .feature-icon{
  color: #FFF;
  padding: 1rem;
}
.introduce-section .feature-icon:hover{
  color: #FF4c68;
}
#icon-carousel .icon-carousel-item{
    padding: 0% 0% 5%;
}
#icon-carousel .icon-carousel-item p{
    color:white;
}
.introduce-section #icon-carousel{
    max-width: 100%;
    height: 500px;
    padding: 0 5%;
}
.introduce-section .icon-carousel-item .body-comment h1{
    text-align:center;
}
.introduce-section .icon-carousel-item .body-comment p{
    text-align:justify;
}
.introduce-web-img, .introduce-self-img, .story-img, .skill-img{

    text-align:center;
}
.introduce-web-img, .story-img{

}
.introduce-section .icon-carousel-item .flex-column{
    margin:0 0%;

}
.navbar-brand{
    font-family: 'Rubik Distressed', cursive;
    font-size:40px;
}

.foot-container .fa-lg{
    font-size:25px;
}

.copyright{
    font-weight:700;
    font-size:5px;
}


.navbar-nav{
  font-size:30px;
  font-family: 'Lalezar', cursive;
}

.navbar{
     padding-top: 3px;
    padding-bottom: 3px;
    background-color: #5D5161;
}

.master-head {
    background-image: url({{ url_for('static', filename='img/mountain.jpg') }});

}


#mainNav {
transition: background-color 0.2s;
/* Force Hardware Acceleration in WebKit */
transform: translate3d(0, 0, 0);
}


#mainNav {
border-bottom: 1px solid transparent;
background: #1b1b1b;
}
#mainNav .navbar-brand {
color: #FC6A03;
font-style: italic;
padding: 7px 20px;
transform: rotate(-5deg);
}
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
color: #DD571C;
}
#mainNav .navbar-nav > li.nav-item > a {
padding: 7px 15px;
color: #fff;
}
#mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
color: rgba(255, 255, 255, 0.7);
}



#mainNav.is-fixed {
/* when the user scrolls down, we hide the header right above the viewport */
position: fixed;
top: -82px;
transition: transform 0.2s;
border-bottom: 1px solid #373737;
background-color: #1b1b1b;;
}
#mainNav.is-fixed .navbar-brand {
color: #FC6A03;
}
#mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
color: #DD571C;
}
#mainNav.is-fixed .navbar-nav > li.nav-item > a {
color: #fff;
}
#mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
color: rgba(255, 255, 255, 0.7);
}
#mainNav.is-visible {
/* if the user changes the scrolling direction, we show the header */
transform: translate3d(0, 100%, 0);
}

/* The animation code */
@keyframes boat-moving {
  0%   {top:0px;}
  10%   {top:-1.64px;}
  20%   {top:-2.71px;}
  30%   {top:-4.48px;}
  40%   {top:-7.38px;}
  50%   {top:-5.21px;}
  60%   {top:-3.74px;}
  70%   {top:-2.69px;}
  80%   {top:-1.93px;}
  100%  {top:-1.39px; }
}
