/* Head Container*/
.head-container {
  background-color: #222831;
}

/* Body */
body{
    font-size:20px
}

/* Body Container*/
.body-container {
   background-color: black;
   text-align: center;
   padding: 7% 15%;
}

/* Foot Container*/
.foot-container {
   background-color: #D65A31;
   text-align: center;
   padding: 3% 15% 1%;
}

.social-icon{
  margin: 20px 10px;
}