/* Head Container*/
.head-container {
  background-color: #222831;
}
header.master-head{
    height: 100vh;
}

header .shadow-background-img{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: grayscale(60%);
    width: 100%;
    height: 100vh;
    position: absolute;
}
header .shadow{
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 100vh;
    position: absolute;
}

header.master-head .container{
    text-align: center;
    height: 100vh;
    padding: 200px 0 250px;
    position: relative;
}

header.master-head img{
    margin: -300px 0 -250px 20px;
    text-align: center;
    transform:scaleX(-1);
    position: relative;
    width: 70%;
    z-index: 1;
}

header.master-head .boat-img{
  animation-name: boat-moving;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

header.master-head .head-comment{
  color:#CFD2CF;
  margin: 0px 0px 0px -20px;
  text-align: center;
}

header.master-head .head-comment .greet{
    font-family: 'Silkscreen', cursive;
}

header.master-head .head-comment .greet-words{
    font-family: 'Silkscreen', cursive;
}

header.master-head .head-img {
   text-align: center;
   position: relative;
   overflow: hidden;
   background-color:blue;
   width: 400px;
   height: 340px;
}

header.master-head .head-img img{
    position: absolute;
    border: solid 2px #CCC;
    margin: 10px 0 0 -70px;
    max-width: 100%;
}

header.master-head .head-comment h1{
  font-size: 80px;
}

header.master-head .head-comment span{
  font-size: 30px;
}

/* Body */
body{
    font-size: 20px
    background-color: dark
}

/* Body Container*/
.body-container {
   text-align: center;
   padding: 7% 10%;
}

/* Foot Container */
.foot-container {
   background-color: #D65A31;
   text-align: center;
   padding: 3% 15% 1%;
}

/* Social Icon */
.social-icon{
  margin: 20px 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

.black-section{
    background-color: black;
    color: #FFF;
}

.white-section{
    background-color: #2C394B
}

hr{
  border-top: 3px solid #fff;
  color:white;
  margin: 1px 0;
}

.introduce-section img,
.story-section img,
.skill-section iframe,
.personal-section img{
    width: 400px;
   height: 340px;
}

.introduce-section .container-fluid{

    padding: 3% 13% 5%;
}

.introduce-section .feature-icon{
  color: #FFF;
  padding: 1rem;
}

.introduce-section .feature-icon:hover{
  color: #FF4c68;
}

#icon-carousel .icon-carousel-item{
    padding: 0% 0% 5%;
}

#icon-carousel .icon-carousel-item p{
    color:white;
}

.introduce-section #icon-carousel{
    max-width: 100%;
    height: 500px;
    padding: 0 5%;
}

.introduce-section .icon-carousel-item .body-comment h1{
    font-family: 'Aboreto', cursive;
    font-size: 50px;
    text-align:center;
}

.introduce-section .icon-carousel-item .body-comment p{
    font-size: 18px;
    max-width: 600px;
    max-height: 800px;
    text-align:justify;
}

.introduce-section .icon-carousel-item .img-content{
    max-width: 400px;
}
.introduce-web-img, .introduce-self-img, .story-img, .skill-img{

    text-align:center;
}


.introduce-section .icon-carousel-item .flex-column{
    margin:0 0;

}
.introduce-section .introduce-title{
    color: #FF9551;
}
.introduce-section .self-introduce-title{
    color: #42855B;
}
.introduce-section .story-title{
    color: #E3242B;
}
.introduce-section .skill-title{
    color: #6FEDD6;
}
.introduce-section .habbit-title{
    color: #EE6983;
}
.navbar-brand{
    font-family: 'Rubik Distressed', cursive;
    font-size:40px;
}

.foot-container .fa-lg{
    font-size:25px;
}

.copyright{
    font-weight:700;
    font-size:5px;
}


.navbar-nav{
  font-size:30px;
  font-family: 'Lalezar', cursive;
}

.navbar{
     padding-top: 3px;
    padding-bottom: 3px;
    background-color: #5D5161;
}

.master-head {
    background-image: url({{ url_for('static', filename='img/mountain.jpg') }});

}


#mainNav {
transition: background-color 0.2s;
/* Force Hardware Acceleration in WebKit */
transform: translate3d(0, 0, 0);
}


#mainNav {
border-bottom: 1px solid transparent;
background: #1b1b1b;
}
#mainNav .navbar-brand {
color: #FC6A03;
font-style: italic;
padding: 7px 20px;
transform: rotate(-5deg);
}
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
color: #DD571C;
}
#mainNav .navbar-nav > li.nav-item > a {
padding: 7px 15px;
color: #fff;
}
#mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
color: rgba(255, 255, 255, 0.7);
}



#mainNav.is-fixed {
/* when the user scrolls down, we hide the header right above the viewport */
position: fixed;
top: -82px;
transition: transform 0.2s;
border-bottom: 1px solid #373737;
background-color: #1b1b1b;;
}
#mainNav.is-fixed .navbar-brand {
color: #FC6A03;
}
#mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
color: #DD571C;
}
#mainNav.is-fixed .navbar-nav > li.nav-item > a {
color: #fff;
}
#mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
color: rgba(255, 255, 255, 0.7);
}
#mainNav.is-visible {

/* if the user changes the scrolling direction, we show the header */
transform: translate3d(0, 100%, 0);
}

/* The animation code */
@keyframes boat-moving {
  0%   {transform: translate(-10px, 10px) rotate(-4deg) scaleX(-1);}
  25%   {transform: translate(0, 0px) scaleX(-1);}
  50%   {transform: translate(-10px, 10px) rotate(4deg) scaleX(-1);}
  75%   {transform: translate(0, 0px) scaleX(-1);}
  100%  {transform: translate(-10px, 10px) rotate(-4deg) scaleX(-1);}
}

/* Change color */
.turn-white{
    filter: brightness(0) invert(1);
}

/* Motto */
.motto-section .container-fluid{
    height: 100vh;
    padding: 10% 5% 3% 10%;
    position: relative;

}

.motto-section .motto-background-img{
    border-style: solid;
    border-color: blue;
    height: 100%;
    position: relative;
    width: 100%;
}
.motto-section .flex-row{
    border-style: solid;
    border-color: yellow;
    height: 100%;
    position: relative;
    width: 100%;
}

.motto-section .hide-img{
    overflow: hidden;
}
.motto-section .motto-background-img img{
    background-repeat: no-repeat;
    filter:sepia(100%);
    max-height:100%;
}
.motto-section .shadow{
    background-color: black;
    opacity: 0.5;
}
.motto-text{
    color:white;
    text-align:justify;
    width:70%;
}
.motto-text .author{
font-size: 30px;
font-weight: 700;
font-family: 'Lora', serif;
font-style: italic;
text-align:right;
}

.motto-text .quote{
font-size: 40px;
font-family: 'Explora', cursive;
}

/* About Section */
.about-section{
text-align: center;
}
.about-section h1{
    font-family: 'Aboreto', cursive;
}
.about-section .container{
    padding: 10% 10%;
}
.about-section p{
font-size:20px;
text-align: justify;
}

/* Contact Section */
.contact-section{
text-align: center;
}
.contact-section .container{
    padding: 10% 10% 7%;
    text-align: center;
}
.contact-section .form{
    display:inline-block;
    width: 60%;
}
.contact-section h1{
    font-size: 50px;
    font-family: 'Aboreto', cursive;
}
.contact-section .form-group{
    text-align: left;
    padding:1%;
}
.contact-section label{
    font-family: Georgia, serif;
    font-size:30px;
    padding-bottom:1%;
}
.contact-section .btn{
    font-family: Georgia, serif;
    font-size:20px;
    margin-top: 4%;

}
/* Register Section */
.register-section{
text-align: center;
}
.register-section .form{
    display:inline-block;
    width: 60%;
}
.register-section h1{
    font-family: 'Aboreto', cursive;
}
.register-section .container{
    padding: 10% 10% 7%;
}
.register-section .form-group{
    text-align: left;
    padding:1%;
}
.register-section label{
    font-family: Georgia, serif;
    font-size:30px;
    padding-bottom:1%;
}
.register-section .btn{
    font-family: Georgia, serif;
    font-size:20px;
    margin-top: 2%;
}

/* Login Section */
.login-section{
text-align: center;
}
.login-section .form{
    display:inline-block;
    width: 60%;
}
.login-section h1{
    font-family: 'Aboreto', cursive;
}
.login-section .container{
    padding: 10% 10% 7%;
}
.login-section .form-group{
    text-align: left;
    padding:1%;
}
.login-section label{
    font-family: Georgia, serif;
    font-size:30px;
    padding-bottom:1%;
}
.login-section .btn{
    font-family: Georgia, serif;
    font-size:20px;
    margin-top: 2%;
}
/* Portfolio Section */
.portfolio-index-section{
text-align: center;
}
.portfolio-index-section h1{
    font-family: 'Aboreto', cursive;
}
.portfolio-index-section .container{
    padding: 10% 10%;
}

/* Blog Index Section */
.blog-index-section{
text-align: center;
}
.blog-index-section h1{
    font-family: 'Aboreto', cursive;
}
.blog-index-section h2{
    font-size:40px;
}
.blog-index-section h3{
    font-size:25px;
}
.blog-index-section .container.title-container{
    font-family: Georgia, serif;
    padding: 10% 10% 3%;
}
.blog-index-section .container.article-container{
    font-family: Georgia, serif;
    padding: 2% 10% 5%;
}
.blog-index-section .blog-info{
    padding-right: 5%;
}
.blog-index-section .btn{
    font-family: Georgia, serif;
    font-size:20px;
    margin: 2%;
}
.blog-index-section .create-btn{
    padding: 0 10% 5%;
}
/* Blog Post Section */
.blog-post-section{
    text-align: center;
}
.blog-post-section h1{
    font-family: 'Aboreto', cursive;
    font-size: 50px;
}
.blog-post-section .title-container{
    padding: 10% 10% 0%;
}
.blog-post-section .meta{
    text-align:right;
    padding:5% 10% 0 5%;
}
.blog-post-section article{
    padding: 5% 10% 2%;
}

.blog-post-section .blog-body{

    font-family: Georgia, serif;
    font-size:20px;
    text-align: justify;
    width:100%;
    word-wrap: break-word;
}
.blog-post-section .tags{
    font-family: Georgia, serif;
    font-size:20px;
    margin:1% 0;
}
.blog-post-section .btn{
    font-family: Georgia, serif;
    font-size:20px;
    width: 10%;
    margin:1% 0;
}
.blog-index-section hr{
    color:#fff;

}
.edit-comment{
    font-family: Georgia, serif;
    font-size:20px;
    padding: 5% 10% 5%;
}
.edit-comment .form{
    width:100%;
}
.edit-comment label{
    font-family: Georgia, serif;
    font-size:30px;
    margin:1% 0;
}
.edit-comment .btn{
    font-family: Georgia, serif;
    font-size:20px;
    margin:3% 0;
    width:15%;
}
/* New Post Section */
.new-blog-section{
text-align: center;
}
.new-blog-section .form{
    display:inline-block;
    width: 100%;
}
.new-blog-section h1{
    font-family: 'Aboreto', cursive;
}
.new-blog-section .container{
    padding: 10% 10% 7%;
}
.new-blog-section .form-group{
    text-align: left;
    padding:1%;
}
.new-blog-section label{
    font-family: Georgia, serif;
    font-size:20px;
    padding-bottom:1%;
}
.new-blog-section .btn{
    font-family: Georgia, serif;
    font-size:20px;
    margin-top: 2%;
}
.new-blog-section .form-control option, .new-blog-section .form-control{
    font-family: Georgia, serif;
}
/* Personal info Section */
.personal-info-section{
text-align: center;
}

.personal-info-section .personal-info-container{
    padding: 10% 3% 7% 2%;
    height: 100vh;
}
.personal-info-section .personal-post{
    font-family: Georgia, serif;
    padding: 0% 5% 0% 5%;
    width: 70%;
    height: 70vh;
}
.personal-info-section .personal-post .personal-post-title{
    padding-bottom: 5%;
}
.personal-info-section .personal-post .post-title{
    padding: 5px 5% 1px;
}
.personal-info-section .personal-post .post-info{
    padding: 0% 5% 1px;
}
.personal-info-section .personal-info{
    border: 2px solid #373737;
    font-family: Georgia, serif;
    font-size:18px;
    padding: 2%;
    width: 30%;
    height: 70vh;
}
.personal-info-section .personal-info p{
    padding: 2% 5%;
}