{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}
<!-- Page Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ blog_post.title }}</h1>
                    <h2 class="subheading">{{ blog_post.subtitle }}</h2>
                    <span class="meta">Posted by
              <a href="#">{{ blog_post.author }}</a>
              on {{ blog_post.date }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ blog_post.body | safe }}
            </div>
            <div class="col-lg-8 col-md-10 mx-auto">
                <a class="btn btn-primary float-right"
                   href="{{ url_for('blog.edit_blog_post', edit_post_id=blog_post.id) }}">Edit</a>
            </div>
        </div>
    </div>
    <hr>
    {% for blog_comment in blog_comments%}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ blog_comment.body | safe }}
                <span class="meta">Posted by<a href="#">{{ blog_comment.author }}</a>on {{ blog_comment.date }}</span>
            </div>
        </div>
    </div>
    {% endfor %}
</article>

<hr>
<!-- Comment -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='comment') }}
            {{ wtf.quick_form(comment_form, novalidate=True, button_map={"submit":"primary"}) }}
        </div>
    </div>
</div>
{% include "footer.html" %}

