{% include "header.html" %}
<header class="master-head">
    <div class="container">
        <h1>blog index</h1>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a href="{{ url_for('blog.blog_post') }}">
                    <h2 class="post-title">Title 1</h2>
                    <h3 class="post-subtitle">Subtitle 1</h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">Amy</a> on 2022-08-12
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <h2 class="post-title">Title 2</h2>
                <h3 class="post-subtitle">Subtitle 2</h3>
                <p class="post-meta">Posted by
                    <a href="#">Jim</a> on 2022-08-13
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <h2 class="post-title">Title 3</h2>
                <h3 class="post-subtitle">Subtitle 3</h3>
                <p class="post-meta">Posted by
                    <a href="#">John</a> on 2022-08-14
                </p>
            </div>
            <hr>
        </div>
    </div>
</div>
{% include "footer.html" %}