{% include "header.html" %}

<!-- Page Header -->
<div style="background-image: url({{ url_for('static', filename='img/rohit-tandon-9wg5jCEPBsw-unsplash.jpg') }});">
<header class="master-head">

        <div>
            <div class="container">
                <div class="d-flex flex-row justify-content-around">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="head-comment">
                            <h1>Hello, Stranger</h1>
                            <span>Welcome to Jim's Personal Website</span>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="head-img">
                            <img src="{{ url_for('static',filename='img/ralph-ravi-kayden-1R9wCG99PMI-unsplash.jpg') }}">What
                            is
                            the symbol of life for you?</img>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</header>
    </div>
<hr>
<section class="black-section introduce-section">
    <div class="body-container">
        <div class="d-flex flex-row justify-content-around">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="body-comment">
                    <h1>Introduce</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit
                        anim id est laborum.</p>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-end align-items-center">
                <div class="introduce-img">
                    <img src="{{url_for('static',filename='img/T-rex.png')}}">T-rex is saying Hello to you!!</img>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<section class="black-section story-section">
    <div class="body-container">
        <div class="d-flex flex-row justify-content-around">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="story-img">
                    <img src="{{url_for('static',filename='img/afraid.gif')}}">Everyone is afraid</img>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="body-comment">
                    <h1>Story</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit
                        anim id est laborum.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<section class="black-section skill-section">
    <div class="body-container">
        <div class="d-flex flex-row justify-content-around">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="body-comment">
                    <h1>Skill</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit
                        anim id est laborum.</p>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="skill-img">
                    <img src="{{url_for('static',filename='img/giphy.gif')}}">Signal in, Signal
                    out</img>
                    <!--<p><a href="https://giphy.com/gifs/Pentanet-wireless-fixed-nbn-SA5IWJfBbNCgLpqKjl">Signal in, Signalout</a></p>-->
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<section class="black-section personal-section">
    <div class="body-container">
        <div class="d-flex flex-row justify-content-around">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="engineer-img">
                    <img src="{{url_for('static',filename='img/Engineer.jpg')}}">Trust Me!</img>
                    <!--<a href='https://www.freepik.com/vectors/engineers-day'>Engineers day vector created by freepik - www.freepik.com</a>-->
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="body-comment">
                    <h1>What I am?</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit
                        anim id est laborum.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "footer.html" %}