{% include "header.html" %}

<section class="color-section">
    <div class="body-container">
        <h1>Hello World!</h1>
    </div>
</section>
<section class="color-section">
    <div class="body-container">
        <h1>Hello World!</h1>
    </div>
</section>
<section class="color-section">
    <div class="body-container">
        <h1>Hello World!</h1>
    </div>
</section>
<section class="color-section">
    <div class="body-container">
        <h1>Hello World!</h1>
    </div>
</section>

{% include "footer.html" %}