{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
{% include "header.html" %}
<section class="black-section login-section">
    <div class="container">
        <h1>Login</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {{ wtf.quick_form(login_form, novalidate=True, button_map={"submit": "primary"}) }}
    </div>
</section>
{% include "footer.html" %}
{% endblock %}
