{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "header.html" %}

<section class="black-section new-blog-section">
    <div class="container">
        {% if is_edit %}
        <h1>Edit</h1>
        {% else %}
        <h1>New Post</h1>
        {% endif %}

        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}
        {{ wtf.quick_form(edit_post_form, novalidate=True, button_map={"submit": "primary"}) }}
    </div>
</section>

{% include "footer.html" %}
{% endblock %}