{% include "header.html" %}
<section class="black-section personal-info-section">
    <div class="container-fluid personal-info-container">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column personal-post">
                <div class="d-flex flex-row justify-content-center personal-post-title">
                    <h1>{{ user.name }}'s Posts</h1>
                </div>
                {% for post in user.posts %}
                <div class="d-flex flex-row justify-content-center post-title">
                    <h1><a href="{{ url_for('blog.show_blog_post', blog_post_id=post.id) }}">{{ post.title }}</a>
                    </h1>
                </div>
                <div class="d-flex flex-row justify-content-end post-info">
                    <p>on {{ post.date }}</p>
                </div>
                <hr>
                {% endfor %}
            </div>
            <div class="d-flex flex-column personal-info">
                <div class="d-flex flex-row  justify-content-center">
                    <a href="{{ url_for('user.personal_site', user_id=user.id) }}">
                        <img src="{{ user.email | gravatar }}"/>
                    </a>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <p>Contact {{ user.name }}: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "footer.html" %}